{% extends 'base.html.twig' %}
{% block body%}

  <div class="main">
    <div class="main-inner" style="padding:10px 0px">
      <div class="content">

        <div class="container">
          {# On affiche tous les messages flash dont le nom est « info » #}
          {% for message in app.session.flashbag.get('info') %}
            <div class="alert alert-icon alert-warning" role="alert">
              <strong>Info!</strong>
              {{Message}}
            </div>
          {% endfor %}

          <div class="row detail-content">
            <h2>{{annonce.voiture.marque}}
              {{annonce.voiture.modele}}</h2>
            <div class="col-sm-6">
              <div class="detail-gallery">

                <div class="detail-gallery-preview">
                  <div class="card-row-image" data-background-image="">
                    {% if photos[0]is defined %}

                      <a href="{{vich_uploader_asset(photos[0], 'imageFile', 'AppBundle\\Entity\\Photo')}}">
                        <img src="{{vich_uploader_asset(photos[0], 'imageFile', 'AppBundle\\Entity\\Photo')}}">
                      </a>
                    {% else %}
                      <a href="{{asset('img/tmp/gallery-1.jpg')}}">
                        <img src="{{asset('img/tmp/gallery-1.jpg')}}">
                      </a>
                    {% endif %}
                  </div>
                </div>

                <ul class="detail-gallery-index">
                  {% for photo in photos %}
                    <li class="detail-gallery-list-item">
                      <a data-target="{{vich_uploader_asset(photo, 'imageFile', 'AppBundle\\Entity\\Photo')}}">
                        <img src="{{vich_uploader_asset(photo, 'imageFile', 'AppBundle\\Entity\\Photo')}}" alt="...">
                      </a>
                    </li>
                  {% else %}
                    <li class="detail-gallery-list-item">
                      <a data-target="{{asset('img/tmp/gallery-1.jpg')}}">
                        <img src="{{asset('img/tmp/gallery-1.jpg')}}" alt="...">
                      </a>
                    </li>
                  {% endfor %}
                </ul>

              </div>
              <!-- /.detail-gallery -->

            </div>
            <!-- /.col-sm-7 -->

            <div class="col-sm-5">

              <div class="background-white p20">
                <div class="column">
                  <div class="row">
                    <div class="col-sm-2">
                      <div class="testimonial-image">
                        <img src="{{asset('img/tmp/agent-2.jpg')}}" alt="">
                      </div>
                    </div>
                    <div class="col-sm-8 col-sm-offset-1 vcenter">
                      <h3>
                        <a href="#">{{annonce.loueur.username}}</a>
                      </h3>
                    </div>
                  </div>
                  <div class="col-sm-12" style="padding:20px">
                    <div class="detail-overview-rating">
                      <i class="fa fa-star"></i>
                      <strong>4.3 / 5
                      </strong>nga
                      <a href="#reviews">316 njerez</a>
                    </div>
                  </div>
                </div>

                <div class="detail-actions row">
                  {% if demande %}
                    {% if demande[0].status == 1 %}
                      <div class="col-sm-12">
                        <p>Shihni listen e makinave dhe beni kerkesa te tjera rezervimi.</p>
                      </div>
                    {% elseif demande[0].status == 2 %}
                      Kliko
                      <a>ketu</a>
                      per te njohur dokumentacionin e nevojshem per marrjen e makines.
                    {% else %}
                      <div class="col-sm-4">
                        <div class="btn btn-primary btn-book">
                          <i class="fa fa-sign-in"></i>
                          Gjej makine tjeter
                        </div>
                      </div>
                    {% endif %}
                  {% else %}

                    {% if app.user %}
                      <div class="col-sm-4">
                        <div class="btn btn-primary btn-book" data-target="#myModal" data-toggle="modal">
                          <i class="fa fa-sign-in"></i>
                          Rezervo
                        </div>
                      </div>
                    {% else %}
                      <div class="col-sm-12">
                        <p>Per te rezervuar kete makine ju duhet te identifikoheni. Klikoni
                          <a href="{{path('fos_user_security_login')}}">ketu</a>
                        </p>
                      </div>
                    {% endif %}

                  {% endif %}

                  <!--modal for reservations-->
                  <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <h4 class="modal-title">Rezervo tani
                            {{annonce.voiture.marque}}
                            {{annonce.voiture.modele}}
                          </h4>
                        </div>
                        <div class="row">
                          <div class="col-xs-8 col-sm-8 col-sm-offset-2 col-xs-offset-2 " style="display: block">
                            {{ form_start(form, {'method': 'post', 'action': path('demande_annonce')}) }}
                            <div class="form-group">
                              {{ form_label(form.emri) }}
                              {{ form_errors(form.emri) }}
                              {{ form_widget(form.emri, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group">
                              {{ form_label(form.mbiemri) }}
                              {{ form_errors(form.mbiemri) }}
                              {{ form_widget(form.mbiemri, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group">
                              {{ form_label(form.email) }}
                              {{ form_errors(form.email) }}
                              {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group">
                              {{ form_errors(form.telefon) }}
                              {{ form_label(form.telefon) }}
                              {{ form_widget(form.telefon, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group">
                              {{ form_errors(form.dateDebut) }}
                              {{ form_label(form.dateDebut) }}
                              {{ form_widget(form.dateDebut, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group">
                              {{ form_errors(form.dateFin) }}
                              {{ form_label(form.dateFin) }}
                              {{ form_widget(form.dateFin, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            {{form_row(form.annonceID)}}

                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" id="envoyer" class="btn btn-primary">Rezervo</button>
                        </div>
                        {{ form_end(form) }}
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->

                  <!-- /.col-sm-4 -->
                </div>
                <!-- /.detail-actions -->
              </div>
              <!-- /.detail-amenities -->
              {% if demande %}
                {% if demande[0].status == 1 %}
                  <!--En attente de reponse-->
                  <div class="alert alert-icon alert-warning" role="alert">
                    <strong>Kerkesa juaj eshte derguar</strong>
                    <br>
                    Kerkesa juaj eshte derguar me sukses dhe eshte duke u shqyrtuar nga pronari i makines. Do ju kontaktojme brenda 24 oresh me nje pergjigje.
                  </div>
                {% elseif demande[0].status == 2 %}
                  <!--Konfirmé-->
                  <div class="alert alert-icon alert-success" role="alert">
                    <strong>Behuni gati</strong>
                    <br>
                    Kerkesa juaj eshte pranuar me sukses. Detajet e rezervimit tuaj :
                    <ul>
                      <li></li>
                      <li></li>
                    </ul>

                  </div>

                {% else %}
                  <!--Anullé-->
                  <div class="alert alert-icon alert-danger" role="alert">
                    <strong>:(</strong>
                    <br>
                    Kerkesa juaj nuk mund te validohet. Pronari i makines ose ka refuzuar ose nje kerkese tjeter eshte pranuar. Pa problem,
                    <a href="#">klikoni ketu</a>
                    dhe shqyrtoni listen e makinave dhe beni nje kerkese tjeter rezervimi.
                  </div>
                {% endif %}

              {% else %}
                <div class="alert alert-icon alert-info" role="alert">
                  <strong>Si te rezervoni</strong>
                  <br>
                  Shifni karakteristikat e makines, nqs jeni dakort klikoni butonin Rezervoj dhe plotesoni fomularin. Per me shume info kliko
                  <a href="#">ketu</a>.
                </div>
              {% endif %}

            </div>
            <!-- /.col-sm-5 -->

            <div class="col-sm-12">
              <h2>Karakteristikat e makines</h2>
              <div class="background-white p20">
                <div class="row">
                  <div class="col-sm-6">
                    <table class="table table-hover mb0">
                      <tbody>
                        <tr>
                          <th scope="row">Karburanti</th>
                          <td style="text-align:right">{{annonce.voiture.carburant}}</td>
                        </tr>
                        <tr>
                          <th scope="row">KM</th>
                          <td style="text-align:right">{{annonce.voiture.kmParcourues}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Portat</th>
                          <td style="text-align:right">{{annonce.voiture.portes}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-sm-6">
                    <table class="table table-hover mb0">
                      <tbody>
                        <tr>
                          <th scope="row">Vendet</th>
                          <td style="text-align:right">{{annonce.voiture.places}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Kambio</th>
                          <td style="text-align:right">{{annonce.voiture.boite}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Viti i prodhimit</th>
                          <td style="text-align:right">{{annonce.voiture.anneeProduction}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <h3>Opsionet</h3>
                <ul class="detail-amenities">
                  {% for opt in annonce.voiture.options %}
                    <li class="yes">{{opt}}</li>
                  {% endfor %}
                </ul>
              </div>
              <!--Reviews-->
              <h2 id="reviews">Komentet per kete makine</h2>
              <div class="reviews">
                {% for comment in annonce.commentaires %}
                  <div class="review">
                    <div class="review-image">
                      <img src="{{asset('img/tmp/agent-1.jpg')}}" alt=" ">
                    </div>
                    <!-- /.review-image -->

                    <div class="review-inner">
                      <div class="review-title">
                        <h2>{{comment.user.emri}}
                          {{comment.user.mbiemri}}</h2>

                        <div class="review-overall-rating">
                          <span class="overall-rating-title">Total Score:</span>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-half-o"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <!-- /.review-rating -->
                      </div>
                      <!-- /.review-title -->

                      <div class="review-content-wrapper">
                        <div class="review-content">
                          <div class="review-pros">
                            <p>{{comment.commentaire}}</p>
                          </div>
                          <!-- /.pros -->
                        </div>
                        <!-- /.review-content -->
                        <!-- /.review-rating -->
                      </div>
                      <!-- /.review-content-wrapper -->

                    </div>
                    <!-- /.review-inner -->
                  </div>
                  <!-- /.review -->
                {% else %}
                  <h1>
                    Asnje koment per kete makine</h1>
                {% endfor %}

              </div>
              <!-- /.reviews -->
              <!--End Reviews-->
            </div>
            <!-- /.col-* -->
          </div>
          <!-- /.row -->

        </div>
        <!-- /.container -->

      </div>
      <!-- /.content -->
    </div>
    <!-- /.main-inner -->
  </div>
  <!-- /.main -->

{% endblock %}
{% block style %}
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
  <style>
    .vcenter {
      display: inline-block;
      vertical-align: middle;
      float: none;
    }

  </style>
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>
{% endblock %}
{% block javascript %}
  <script>
    $(document).ready(function() {

      $('#envoyer').on('click', function(e) {
        e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
        //  var $this = $('#appbundle_demmande'); // L'objet jQuery du formulaire
        var $form = $('form[name="appbundle_demmande"]')
        $.ajax({
          url: $form.attr('action'),
          type: $form.attr('method'),
          data: $form.serialize(),
          success: function(res) {
            console.log(res)
            if (res) {
              if (res.status == "OK") {
                var redirectUrl = "{{path('view_annonce',{'id': annonce.id})}}"
                window.location.replace(redirectUrl);
              } else {
                var redirectUrl = "{{path('list_makinat')}}"
                window.location.replace(redirectUrl);
              }
            }
          },
          error: function(jqXHR, textStatus, errorThrown) {
            switch (jqXHR.status) {
              case 401:
                var redirectUrl = "{{path('fos_user_security_login')}}"
                window.location.replace(redirectUrl);
                break;
              case 403: // (Invalid CSRF token for example)
                // Reload page from server
                window.location.reload(true);
            }
          }
        });
      });

    });
    $(function() {
      $('#appbundle_demmande_dateDebut').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        "drops": "up",
        locale: {
          format: 'YYYY-MM-DD'
        },
        minDate: new Date()
      }, function(start, end, label) {});
      $('#appbundle_demmande_dateFin').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        "drops": "up",
        locale: {
          format: 'YYYY-MM-DD'
        },
        minDate: new Date()
      }, function(start, end, label) {});
    });
  </script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
{% endblock %}
