{% extends 'base.html.twig' %}
{% block body %}
  <div class="main">
    <div class="main-inner" style="padding:80px 0px">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-lg-9">
            <div class="content">
              <div class="page-title">
                <h1>Krijo anoncen tende</h1>
              </div>

              <div class="background-white p30 mb30">
                {{form_start(form)}}
                <h3 class="page-title">1. Te dhenat e makines tuaj</h3>
                <div class="row">

                  <div class="col-sm-6">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-car"></i>
                      </span>
                      {{form_widget(form.voiture.marque,{'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-clock-o"></i>
                      </span>
                      {{form_widget(form.voiture.anneeProduction,{'attr': {'class': 'form-control','placeholder':'Viti i prodhimit'}}) }}
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group" id="marque_remplace">
                      {{form_widget(form.voiture.modele,{'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="input-group">
                      {{form_widget(form.voiture.places,{'attr': {'class': 'form-control'}}) }}
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-free-code-camp"></i>
                      </span>
                      {{form_widget(form.voiture.carburant,{'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-road"></i>
                      </span>
                      {{form_widget(form.voiture.kmParcourues,{'attr': {'class': 'form-control','placeholder':'KM'}}) }}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="input-group">
                      {{form_widget(form.voiture.boite,{'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="input-group">
                      {{form_widget(form.voiture.portes,{'attr': {'class': 'form-control'}}) }}
                    </div>
                  </div>
                  <div class="col-sm-6">

                    {{form_widget(form.voiture.Options,{'attr': {'class': 'form'}}) }}

                  </div>

                </div>

              </div>

              <div class="background-white p30 mb30">
                <h3 class="page-title">2. Adressa e makines tuaj</h3>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="input-group">
                      {{form_row(form.adresseVoiture.adresse,{'attr': {'class': 'route form-control'}}) }}
                    </div>
                    <div class="input-group">
                      {{form_row(form.adresseVoiture.ville.ville,{'attr': {'class': 'locality form-control'}}) }}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="input-group">
                      {{form_row(form.adresseVoiture.ville.pays.pays,{'attr': {'class': 'country form-control'}}) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="background-white p30 mb30">
                <h3 class="page-title">3. Informacionet e qerase</h3>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="input-group">
                      {{form_row(form.prixJour,{'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="input-group">
                      {{form_row(form.prixKM,{'attr': {'class': 'form-control'}}) }}
                    </div>

                  </div>
                  <div class="col-sm-6">
                    <div class="input-group">
                      {{form_row(form.limiteKM,{'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="input-group">
                      {{form_row(form.dureeLocation,{'attr': {'class': 'form-control'}}) }}
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="input-group">
                      {{form_row(form.exigences,{'attr': {'class': 'form-control'}}) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="background-white p30 mb30">
                <h3 class="page-title">4. Fotot e makines</h3>
                <div class="row">
                  <input id="photos" type='file' multiple name='input-files[]'/>
                </div>
              </div>
              <div class="input-group">
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary pull-center'}}) }}
              </div>
              {{form_end(form)}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascript %}
  <script>
    $(document).ready(function() {
      var photos = {{ photos | json_encode()|raw}};
      var preview = [];
      var previewConfig = [];
      var annonceID = {
        annonceID: {{annonceID|json_encode()|raw}}
      }
      for (var i = 0; i < photos.length; i++) {
        var image = ""
        preview.push('<img src=' + photos[i].url + ' style="width:160px"></img>')
        var config = {
          width: '120px',
          url: '/annonce/delete/photo',
          key: photos[i].id,
          extra: annonceID
        }
        previewConfig.push(config)
      }
      var dataToUpload = {
        type: "images"
      }

      $('#photos').fileinput({
        initialCaption: "Vini fotot tuaja",
        overwriteInitial: false,
        initialPreview: preview,
        initialPreviewAsData: true,
        maxFileCount: 3,
        uploadUrl: '/annonce/edit/{{annonceID|json_encode()|raw}}',
        initialPreviewConfig: previewConfig,
        uploadExtraData: dataToUpload
      });

    });

    var placeSearch,
      autocomplete;
    var componentForm = {
      street_number: 'short_name',
      route: 'long_name',
      locality: 'long_name',
      administrative_area_level_1: 'short_name',
      country: 'long_name',
      postal_code: 'short_name'
    };
    var adresseInput = document.getElementById('appbundle_annonce_adresseVoiture_adresse');
    var villeInput = document.getElementById('appbundle_annonce_adresseVoiture_ville_ville');
    var paysInput = document.getElementById('appbundle_annonce_adresseVoiture_ville_pays_pays');
    function initAutocomplete() {
      // Create the autocomplete object, restricting the search to geographical location types.
      autocomplete = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */
      (adresseInput), {types: ['geocode']});

      // When the user selects an address from the dropdown, populate the address fields in the form.
      autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
      // Get the place details from the autocomplete object.
      var place = autocomplete.getPlace();
      // Get each component of the address from the place details and fill the corresponding field on the form.
      for (var i = 0; i < place.address_components.length; i++) {
        var addressType = place.address_components[i].types[0];
        if (componentForm[addressType]) {
          var val = place.address_components[i][componentForm[addressType]];
          adresseInput.value = place.name;
          if (addressType == 'locality') {
            villeInput.value = val;
          }
          if (addressType == 'country') {
            paysInput.value = val;
          }
        }
      }
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeIfhC4aEinoXSRHtdEnANtr0htAMYqj0&libraries=places&callback=initAutocomplete" async defer></script>
{% endblock %}
