{% extends 'base.html.twig' %}

{% block body %}
  <div class="main">
    <div class="main-inner">
      <div class="content">

        <div class="hero-image">
          <div class="hero-image-inner" style="background-image: url('{{asset('img/header/bg_5.jpg')}}');">
            <div class="hero-image-content">
              <div class="container">
                <h1>Mos e lini makinen tuaj ne garazhd</h1>
                <p>Create your own directory website by using Superlist template
                  <br>
                  incorporating all features of modern directory website.</p>

              </div>
              <!-- /.container -->
            </div>
            <!-- /.hero-image-content -->

            <div class="hero-image-form-wrapper">
              <div class="container">
                <div class="row">
                  <div class="col-sm-4 col-sm-offset-8 col-lg-4 col-lg-offset-7">
                    {{form_start(form)}}
                    <h2>Kalkuloni sa mund te fitoni</h2>

                    <div class="hero-image-input form-group">
                      {{form_widget(form.marque,{'attr': {'class': 'form-control'}}) }}
                    </div>
                    <!-- /.form-group -->

                    <div class="hero-image-input form-group" id="marque_remplace">
                      {{form_widget(form.modele) }}
                    </div>

                    <div class="col-4">
                      <h2 class="text-center" id="prix"></h2>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Jep makinen tende</button>

                    {{form_end(form)}}

                  </div>

                  <!-- /.col-* -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.container -->
            </div>
            <!-- /.hero-image-form-wrapper -->
          </div>
          <!-- /.hero-image-inner -->
        </div>
        <div class="container">
          <div class="mobile-form">
            <div class="row">
              <div class="col-lg-4">
                <form method="get" action="?">
                  <h2>Kalkuloni sa mund te fitoni</h2>

                  <div class="hero-image-input form-group">
                    <select class="form-control" title="Marka">
                      <option>Bronx</option>
                      <option>Brooklyn</option>
                      <option>Manhattan</option>
                      <option>Staten Island</option>
                      <option>Queens</option>
                    </select>
                  </div>
                  <!-- /.form-group -->

                  <div class="hero-image-input form-group">
                    <select class="form-control" title="Modeli">
                      <option value="">Automotive</option>
                      <option value="">Jobs</option>
                      <option value="">Nightlife</option>
                      <option value="">Services</option>
                    </select>
                  </div>

                  <div class="hero-image-input form-group">
                    <select class="form-control" title="Viti i prodhimit">
                      <option value="">Automotive</option>
                      <option value="">Jobs</option>
                      <option value="">Nightlife</option>
                      <option value="">Services</option>
                    </select>
                  </div>

                  <h2>3400 euros</h2>
                  <!-- /.form-group -->

                  <button type="submit" class="btn btn-primary btn-block">Search</button>
                </form>
              </div>
            </div>
            <!-- /.col-* -->
          </div>
          <div class="block background-white fullwidth">
            <h1>Si funksionon</h1>
            <div class="column">
              <div class="row">
                <div class="col-sm-8">
                  <div class="p30 mb30">
                    <div class="row">
                      <div class="column">
                        <div class="col-sm-2">
                          <div class="box-icon-noborder">
                            <h1>1.</h1>
                          </div>
                        </div>
                        <div class="col-sm-10">
                          <h2>Plotesoni formularin ne websitin tone.</h2>
                          <p>Jepni te dhenat per makinen tuaj, tipin, vitin e prodhimit, foto si dhe periudhen per te cilen ajo eshte e disponueshme.</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="column">
                        <div class="col-sm-2">
                          <div class="box-icon-noborder">
                            <h1>2.</h1>
                          </div>
                        </div>
                        <div class="col-sm-10">
                          <h2>Kontrolli i makines</h2>
                          <p>Pasi te keni derguar formularin nje person i CoRent do ju kontaktoje menjehere per te lene nje takim per te pare nese i plotesoni te gjitha kushtet per te lene makinen tuaj me qera.<br>
                            <a href="#">Shif kushtet ktu</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.col-* -->
                <div class="col-sm-4 pt60" style="background-image: radial-gradient(#99fffa 10%, #fff 70%);">
                  <img style="width:100%;height:100%;" src="{{asset('img/header/bg_5.jpg')}}"/>
                </div>
              </div>

              <hr>
              <div class="row">
                <div class="col-sm-4 pt60" style="background-image: radial-gradient(#99fffa 10%, #fff 70%);">
                  <img style="width:100%;height:100%" src=" {{asset('img/header/bg_5.jpg')}} "/>
                </div>
                <div class="col-sm-8">
                  <div class="p30 mb30">
                    <div class="row">
                      <div class="column">
                        <div class="col-sm-2">
                          <div class="box-icon-noborder">
                            <h1>3.</h1>
                          </div>
                        </div>
                        <div class="col-sm-10">
                          <h2>Makina juaj online</h2>
                          <p>Pasi keni rene dakort dhe cdo gje eshte ne rregull, makina juaj do vihet menjehere online dhe juve ju krijohet nje profil ne websitin tone. Mijera persona mund ta shohin dhe te fillojne procesin e rezervimit.</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="column">
                        <div class="col-sm-2">
                          <div class="box-icon-noborder">
                            <h1>4.</h1>
                          </div>
                        </div>
                        <div class="col-sm-10">
                          <h2>Profili juaj online</h2>
                          <p>Mund te riktheni gjithmone ne websitin tone per te pare gjendjen e profilit tuaj, qerat e kryera, kerkesat e marra per qera. Mund te modifikoni gjithashtu te dhenat e makines si dhe kalendarin e qerase.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="row text-center">
                <button type="submit" class="btn btn-primary">
                  <i class="fa fa-sign-in"></i>
                  <a class="btn btn-primary" href="{{path('add_annonce')}}">Regjistrohu tani dhe jep makinen tende</a>

                </button>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javacript %}{% endblock %}
