{% extends 'base.html.twig' %}
{% block body %}
  <div class="main">
    <div class="main-inner">
      <div class="container">
        <div class="content">
          <div class="document-title">
            <h1>Lista e makinave e disponueshme</h1>
          </div>

          {{form_start(form,{'attr': {'class': 'filter'}})}}
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <div class="form-group">
                {{form_row(form.location,{'attr': {'class': 'form-control','placeholder':'Vendndodhja'}}) }}
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col-* -->
            <div class="col-sm-12 col-md-4">
              <div class="form-group">
                {{form_row(form.dateDebut,{'attr': {'class': 'form-control','placeholder':'Data e nisjes'}}) }}
              </div>
            </div>

            <div class="col-sm-12 col-md-4">
              <div class="form-group">
                {{form_row(form.dateFin,{'attr': {'class': 'form-control','placeholder':'Data e mberritjes'}}) }}
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col-* -->
          </div>
          <!-- /.row -->

          <hr>

          <div class="row">
            <div class="col-sm-8"></div>
            <!-- /.col-* -->
            <div class="col-sm-4">
              {{ form_widget(form.send, {'attr': {'class': 'btn btn-primary'},'label': 'Rikerko'}) }}
            </div>
            <!-- /.col-* -->
          </div>
          <!-- /.row -->
          {{ form_errors(form) }}
          {{ form_errors(form.location) }}
          {{ form_errors(form.dateDebut) }}
          {{ form_errors(form.dateFin) }}

          {{form_end(form)}}

          <h2 class="page-title">
            {{ pagination.getTotalItemCount }}
            makina te disponueshme me kriteret tuaja
          </h2>

          <!-- /.page-title -->
          <div class="cards-row">
            {% for annonce in pagination %}
              <div class="card-row">
                <div class="card-row-inner">
                  {% if annonce.photos[0]is defined %}
                    <div class="card-row-image" data-background-image="{{vich_uploader_asset(annonce.photos[0], 'imageFile', 'AppBundle\\Entity\\Photo')}}">
                    {% else %}
                      <div class="card-row-image" data-background-image="">
                      {% endif %}

                      <div class="card-row-label">
                        <a href="listing-detail.html">{{annonce.voiture.marque}}
                          {{annonce.voiture.modele}}</a>
                      </div>
                      <!-- /.card-row-label -->

                      <div class="card-row-price">{{annonce.prixJour}}
                        Euro / dita</div>
                      <!-- -->

                    </div>
                    <!-- /.card-row-image -->

                    <div class="card-row-body">
                      <h2 class="card-row-title">
                        <a href="listing-detail.html">{{annonce.voiture.marque}}
                          {{annonce.voiture.modele}}</a>
                      </h2>
                      <div class="card-row-content">
                        <p>{{annonce.loueur.username}}</p>
                      </div>
                      <!-- /.card-row-content -->
                    </div>
                    <!-- /.card-row-body -->

                    <div class="card-row-properties">
                      <dl>

                        <dd>Cmimi</dd>
                        <dt>{{annonce.prixJour}}
                          Euro / dita</dt>

                        <dd>Kategoria</dd>
                        <dt>{{annonce.voiture.modele.categorie.dicoLibelle|default("E panjohur")}}</dt>

                        <dd>Vendndodhja</dd>
                        <dt>{{annonce.adresseVoiture.ville.ville}}</dt>

                        <dd>Vleresimi</dd>
                        <dt>
                          <div class="card-row-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                          <!-- /.card-row-rating -->
                        </dt>
                      </dl>
                    </div>
                    <!-- /.card-row-properties -->
                  </div>
                  <!-- /.card-row-inner -->
                </div>
                <!-- /.card-row -->

              {% endfor %}
            </div>
            {% if pagination.getTotalItemCount > 0 %}
              <div class="pager  pb60">
                {{ knp_pagination_render(pagination) }}
              </div>
            {% else %}
              <div class="col-sm-12">
                <div class="background-white p30 mb50">
                  <div class=" row text-center">
                    <h2>Nuk ka asnje makine te disponueshme</h2>
                  </div>
                  <!-- /.cards-system -->
                </div>
              </div>
            {% endif %}

            <!-- /.pagination -->

            <!-- /.cards-row -->
          </div>
        </div>
      </div>
    </div>

  {% endblock %}
