{% extends 'base.html.twig' %}
{% block body %}

  <div class="main">
    <div class="outer-admin">
      <div class="wrapper-admin">
        <div class="content-admin">
          <div class="content-admin-wrapper">
            <div class="content-admin-main">
              <div class="content-admin-main-inner">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <!--
                                                <div class="col-sm-12">
                                                    <div class="message">
                                                        <h1>Welcome in Dashboard</h1>

                                                        <p>Thanks for checking
                                                            <a href="#">Superlist</a>
                                                            backend. If you have any questions, feel free to ask your question using ThemeForest's
                                                            <a href="#">item comments</a>
                                                            section. Before asking don't forget to check the template
                                                            <a href="#">documentation</a>.</p>
                                                    </div>
                                                    /.message
                                                </div>-->
                        <!-- /.col-* -->
                        <div class="profile-nav-pills col-sm-12">
                          <ul class="nav nav-pills nav-justified">
                            <li class="active" data-toggle="pill" href="#situata">
                              <a href="#situata">Situata</a>
                            </li>
                            <li data-toggle="pill" href="#kerkesat">
                              <a href="#kerkesat">Kerkesat per makinen tuaj</a>
                            </li>
                            <li data-toggle="pill" href="#makinat">
                              <a href="#makinat">Makinat e mia</a>
                            </li>
                            <li data-toggle="pill" href="#qerate">
                              <a href="#qerate">Qerate tuaja</a>
                            </li>
                            <li data-toggle="pill" href="#profili">
                              <a href="#profili">Informacion profili</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- Centered Pills -->
                      <!-- /.row -->
                      <div class="tab-content">
                        <div class="tab-pane active" id="situata" role="tabpanel">
                          {{ render(controller('AlterStudioCoRentBundle:Profile:situata'))}}
                        </div>
                        <div class="tab-pane" id="kerkesat" role="tabpanel">
                          {{ render(controller('AlterStudioCoRentBundle:Profile:kerkesat'))}}
                        </div>
                        <div class="tab-pane" id="makinat" role="tabpanel">
                          {{ render(controller('AlterStudioCoRentBundle:Profile:makinat'))}}
                        </div>
                        <div class="tab-pane" id="qerate" role="tabpanel">
                          {{ render(controller('AlterStudioCoRentBundle:Profile:qerate'))}}
                        </div>
                        <div class="tab-pane" id="profili" role="tabpanel">
                          {{ render(controller('AlterStudioCoRentBundle:Profile:info'))}}
                        </div>
                      </div>
                    </div>
                    <!-- /.col-* -->
                  </div>
                </div>
                <!-- /.container-fluid -->
              </div>
              <!-- /.content-admin-main-inner -->
            </div>
            <!-- /.content-admin-main -->
          </div>
          <!-- /.content-admin-wrapper -->
        </div>
        <!-- /.content-admin -->
      </div>
      <!-- /.wrapper-admin -->
    </div>
    <!-- /.outer-admin -->
  </div>
{% endblock %}
