<div class="col-sm-12">
  {% for demande in demandes %}
    <div class="background-white p30">
      <div class="row text-center">
        <div class="col-sm-3">
          <div class="user user-lg">
            <a href="#"><img src="{{asset('img/tmp/agent-2.jpg')}}" alt=""></a>
            <p>{{demande.locataire.username}}</p>
          </div>
        </div>
        <div class="col-sm-2">
          <p>{{demande.annonce.voiture.marque}}
            {{demande.annonce.voiture.modele}}</br>
          Nga
          <strong>{{demande.dateDebut|date("d/m/Y")}}</strong>
          <br>
          Deri me
          <strong>{{demande.dateFin|date("d/m/Y")}}</strong>
          <br>
        </div>
        <div class="col-sm-4">
          <p>
            <strong>{{demande.prix}}
              euro</strong>
          </p>
          <p>{{demande.prix - (demande.prix * 0.3)}}
            euro per ju</p>
        </div>
        <div class="col-sm-3"><br>

        </div>
      </div>
      <!-- /.cards-system -->
    </div>
    <hr>
  {% else %}
    <div class=" row text-center">
      <h2>Nuk keni asnje kerkese</h2>
    </div>
  {% endfor %}

</div>
